:root {
    --body-background-color: white;
    --hover-color: red;
    --border-color: black;
    --font-color: black;
    --error-toast-background-color: red;
    --success-toast-background-color: green;
    /* --wrap-button-background-color: grey; */
    --roboto-font: Roboto, sans-serif;
    --leaderboard-card-width: 500px;
    --leaderboard-card-height: 500px;
    --leaderboard-progress-bar-color: #26a69a;
}

body {
    /* background: linear-gradient(to right, #02111D, #037BB5, #02111D); */
    background: var(--body-background-color);
}

.outline-button {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    color: var(--font-color);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: var(--roboto-font);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    /* Safari */
}

.outline-button:hover {
    background-color: var(--hover-color);
}

.translucent-button {
    opacity: 0.5;
    border-radius: 4px;
    color: var(--font-color);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

md-toast.md-error-toast-theme div.md-toast-content {
    background-color: var(--error-toast-background-color);
}

md-toast.md-success-toast-theme div.md-toast-content {
    background-color: var(--success-toast-background-color);
}

/* .wrap-button:before,
.wrap-button:after {
    content: " ";
    width: 45%;
    height: 1px;
    margin: 0;
    padding: 0;
    vertical-align: super;
    background-color: var(--wrap-button-background-color);
    display: inline-block;
} */

.md-button.md-fab {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 1px 5px 0 rgba(0, 0, 0, 0.15), 0 10px 8px -4px rgba(0, 0, 0, 0.4);
}

.image-card {
    /* width: 25vw;
    height: 40vh; */
    width: 480px;
    height: 350px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 18px;
}

.name-card {
    /* width: 20vw;
    height: 9vh; */
    width: 380px;
    height: 90px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 10px 10px 0 0;
    /* background: linear-gradient(to top, #999 0, #ffffff 7px, #ffffff 100%); */
}

.other-info-card {
    /* width: 20vw;
    height: 10vh; */
    width: 380px;
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 0 10px 10px;
}

.stats-card {
    /* width: 16vw;
    height: 10vh; */
    width: 300px;
    height: 90px;
    margin-top: 0;
    padding-top: 0;
    border-radius: 0 0 10px 10px;
}

.profile-fab-button {
    position: relative;
    z-index: 25;
    font-size: 30px;
    margin-top: -45px;
    margin-left: 0%;
}

.leaderboard-div {
    margin: 0 auto;
    width: var(--leaderboard-card-width);
    height: var(--leaderboard-card-height);
    margin-top: 20px;
}

.table-card-background {
    z-index: 10;
    position: absolute;
    height: var(--leaderboard-card-height);
    width: var(--leaderboard-card-width);
}

.table-card-foreground {
    z-index: 20;
    position: absolute;
    height: calc(var(--leaderboard-card-height) - 20px);
    width: var(--leaderboard-card-width);
    margin-top: 55px;
    margin-left: 30px;
    overflow-y: scroll;
}

/* Table format */

table {
    border-collapse: collapse;
    width: 100%;
}

table.leaderboard td {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

table.players thead {
    font-weight: bold;
}

table.players th {
    background-color: #6CCECB;
    border: 3px solid #ffffff;
    color: white;
}

table.players tr {
    text-align: center;
}

table.players tr:hover td {
    background-color: #6CCECB;
    transition: all 0.1s ease-in;
    color: white;
}

table.players td {
    padding: 5px;
    border: 3px solid #ffffff;
}

/* Table end */

.faded_line {
    margin: 0;
    margin-top: 5px;
    height: 1px;
    background: linear-gradient(to right, white, #b3b3b3, white);
}

/* Copying Angular Material linear progress bar determinate */

.leaderboard-progress-bar {
    position: relative;
    height: 4px;
    display: block;
    background-color: var(--leaderboard-progress-bar-color);
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    transition: width .3s linear;
    overflow: hidden;
}

/* Team CSS */

.team-logo {
    background-image: url("../img/teams/logo-sprite-100.png");
    background-size: 400px 400px;
    margin: 14px;
    margin-bottom: 6px;
    margin-top: 6px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.team-bg-CSK {
    background-image: url("../img/teams/csk.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-KKR {
    background-image: url("../img/teams/kkr.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-KXIP {
    background-image: url("../img/teams/kxip.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-RR {
    background-image: url("../img/teams/rr.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-MI {
    background-image: url("../img/teams/mi.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-RCB {
    background-image: url("../img/teams/rcb.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-DD {
    background-image: url("../img/teams/dd.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-bg-SH {
    background-image: url("../img/teams/sh.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
}

.team-color-CSK {
    background: rgba(253, 185, 19, 0.8);
}

.team-color-KKR {
    background: rgba(61, 34, 86, 0.8);
}

.team-color-DD {
    background: rgba(183, 31, 31, 0.8);
}

.team-color-SH {
    background: rgba(251, 101, 63, 0.8);
}

.team-color-RR {
    background: rgba(0, 75, 140, 0.8);
}

.team-color-MI {
    background: rgba(0, 94, 160, 0.8);
}

.team-color-KXIP {
    background: rgba(179, 37, 36, 0.8);
}

.team-color-RCB {
    background: rgba(219, 62, 72, 0.8);
}

.SH {
    background-position: 0px -300px;
}

.CSK {
    background-position: -100px 0px;
}

.RCB {
    background-position: -300px 0px;
}

.KXIP {
    background-position: 0px -200px;
}

.DD {
    background-position: 0px -100px;
}

.RR {
    background-position: -300px -200px;
}

.MI {
    background-position: 0px 0px;
}

.KKR {
    background-position: -200px 0px;
}

/* Team css end */

.md-fab-fixture {
    line-height: 5.6rem;
    min-width: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.pressed-effect {
    background-color: grey;
}

.selectHeaderClass .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectHeaderClass .select-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

/****** fixture css *******/

.card-smaller-font {
    font-size: 20px;
}

.cursive-font-card-header {
    font-family: cursive;
    font-size: 19px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.team-vote {
    font-weight: bold;
    margin-top: 5px;
}

/****** Feeds *****/

.feed-entry {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    padding-top: 12px;
}

.feed-entry .fa {
    margin-right: 12px;
}

.feed-entry .meta {
    display: block;
    margin-left: 47px;
    max-width: 80%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970;
    }
}
@media (min-width:768px) {
    .container {
        width: 750;
    }
}
/**** feeds ends ******/

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 10em;
    width: 20%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */

.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.lock-pred {
    pointer-events: none;
    opacity: 0.4;
    background-color: lightgray;
}

md-toast {
    position: fixed !important;
}