<div>
    <md-card style='margin:0 auto;padding:10px;max-width: 500px;'>
        <!-- <div ng-if="leaderboard.selectedTabIndex === 0"> -->
        <div ng-repeat="user in leaderboard.leaderboardData | orderBy: '-points'">
            <div layout="row">
                <md-button class="md-fab md-no-ink" aria-label="User {{$index + 1}}" ng-click="$mdMenu.open($event)" style="background-image: url('{{user.profilePic}}'); background-size: cover; background-position: center center;"
                    disabled></md-button>
                <div layout="column" layout-align="center start" flex>
                    <div layout="row" layout-align="center start" style="width: 100%;">
                        <p>{{$index + 1}}. {{user.alias}}</p>
                        <div layout="row" layout-align="end start" flex>
                            <p>{{user.points}}</p>
                        </div>
                    </div>
                    <div class="leaderboard-progress-bar" ng-style="{'width': '{{user.points/leaderboard.highestPoints * 100}}%'}"></div>
                </div>
            </div>
        </div>
    </md-card>
</div>