<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Demo App</title>

    <!-- Add all CDNs here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.js"></script>

    <!-- Add the application's JS here -->
    <!-- App -->
    <script src="/static/app.js"></script>

    <!-- Add all CSS here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.7/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/custom.css">

</head>

<body ng-app="simple">
    <div ng-controller="appController as app">
        <div ng-init="app.init()" ng-cloak layout="column" layout-align="center center" style="width: 100%">
            <!-- <div layout="column" layout-align="center center" layout-padding> -->
            <h1>SAP CP DEMO APP with PostgreSQL as backend</h1>
            <div layout="row" layout-align="start start" layout-padding style="width: 75%; padding-left: 0">
                <md-button class="md-raised" ng-click="app.addUser()" style="margin-left: 0; margin-bottom: 0; background-color: #d0d7e2"">
                    <md-icon md-font-set="material-icons">add</md-icon>
                    Add User
                </md-button>
            </div>
            <!-- </div> -->
            <md-card style="width: 75%;">
                <table>
                    <thead>
                        <th>I-Number</th>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat='user in app.users' class="md-padding" style="background-color: #FAFAFA">
                            <td> {{user.inumber}} </td>
                            <td> {{user.firstname + ' ' + user.lastname}} </td>
                            <td> {{user.alias}} </td>
                            <td>
                                <md-button class="md-icon-button" aria-label="Edit" ng-click="app.editUser(user.inumber)">
                                    <md-icon md-font-set="material-icons">edit</md-icon>
                                </md-button>
                            </td>
                            <td>
                                <md-button class="md-icon-button md-warn" aria-label="Delete" ng-click="app.deleteUser(user.inumber)">
                                    <md-icon md-font-set="material-icons">delete</md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-card>
        </div>
    </div>
</body>

</html>
